* {
  margin: 0;
  padding: 0;
}
.active {
  display: block;
}

.hide {
  display: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}
.dot-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
img {
  width: 100%;
}
.dot {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin: 5px;
  cursor: pointer;
}
.image-container {
  position: relative;
  cursor: pointer;
}
.navigation {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

button {
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.prev {
  right: 10px;
}

.next {
  left: 10px;
}
